* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #1d273b;
    font-weight: 300;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}


.contenedor1 {
    width: 95%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 60px 0;

}

h1 {
    font-size: 50px;
}


h1 .txt1 {
    color: rgb(0, 0, 0);
}

.titulo {
    font-size: 50px;
    margin-top: 50px;
}

/* About us */

.about-us {
    background: #f2f2f2;
}

.contenedor-articulo {

    width: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    justify-content: space-evenly;
}

.articulo {
    width: 29%;
    background: #fff;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 30px 10px 40px 30px;
    transition: 0.5s;
}

.articulo:hover {
    box-shadow: 0 4px 10px rgba(17, 29, 48, .26);
}
.caja-días{
    width: 60%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    border: solid 2px #1864ab;
    align-items: center;


}
.caja-días>p{
    margin: 10px ;
}
.articulo>i {
    font-size: 30px;
    color: #fff;
    background: #1FDE82;
    display: flex;
    display: inline-block;
    width: 70px;
    height: 70px;
    text-align: center;
    padding-top: 20px;
    border-radius: 50%;
    box-shadow: 0 8px 32px rgba(31, 222, 130, .46);
}

.articulo>h3 {
    font-size: 24px;
    margin-top: 30px;
}
.articulo>h2 {
    font-size: 25px;
    margin-top: 25px;
}

.articulo>p {
    font-weight: 100;
    color: #5D6678;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
}

.articulo>a {
    color: #5D6678;
    font-weight: 400;
    text-decoration: none;
}

.articulo>a:hover {
    color: #1FDE82;
    transition: color .5s;
}



/* Breakpoints responsive */

@media screen and (max-width:800px) {

    /* About us */
    .articulo {
        width: 45%;
    }
}


@media screen and (max-width:600px) {
    .titulo {
        font-size: 35px;
    }

    h1 {
        font-size: 40px;
    }

    .contenido-header {
        height: 650px;
    }


    /* About us */
    .articulo {
        width: 95%;
        padiding-left: 50px;
    }
}


